@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    
    background-color: #f3ce13;
    font-family: 'Anton', sans-serif;
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
    
  
}

.font{
    text-align: center;
    font-size:80px;
    color: #000;
    
}
.frame{
    margin-left: 20%;
}


